{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Créer un objet assistant</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.medecin) }}
        {{ form_row(registrationForm.submit) }}
    {{ form_end(registrationForm) }}
{% endblock %}