{% extends 'base.html.twig' %}

{% block title %}Bienvenue !
{% endblock %}
{% block body %}
	<div class="d-flex flex-column justify-content-center p-5">
		<div class="bg-light rounded">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nom du patient</th>
							<th scope="col">Statut</th>
							<th scope="col">Durée</th>
							<th scope="col">Date</th>
						</tr>
					</thead>
					<tbody>
						{% for unRDV in lesRDV %}
							<tr>
								<td>{{unRDV.patient().Nom()}}</td>
								<td>{{unRDV.statut().Libelle()}}</td>
                                <td>{{unRDV.duree()}}h</td>
								<td>{{unRDV.heure()|date('H:i:s')}} | {{unRDV.date() | date('Y-m-d')}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</tr>
		</div>
	</div>
</tbody></table>{% endblock %}