{% extends 'base.html.twig' %}

{% block title %}Prendre rendez-vous{% endblock %}

{% block body %}
    <h1>Informations du rendez-vous</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.date) }}
        {{ form_row(registrationForm.heure) }}
        {{ form_row(registrationForm.medecin) }}
        {{ form_row(registrationForm.submit) }}
    {{ form_end(registrationForm) }}
{% endblock %}